.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.mat-card {
  background-color: rgb(202, 171, 243);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;

}



.image{
  max-width: 400px;
  margin-bottom: 8px;
}

.example-spacer {
  flex: 1 1 auto;
}
